<!-- <p>icon works!</p> -->
<div class="border">
    <button mat-icon-button >
        <mat-icon>notifications_paused</mat-icon>
        <!-- <img src="../../../assets/lightbulb_black_24dp" alt=""> -->
    </button>
    <button mat-icon-button>
        <!-- <img src="../../../assets/lightbulb_black_24dp" alt=""> -->
        <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button>
        <!-- <img src="../../../assets/lightbulb_black_24dp" alt=""> -->
        <mat-icon>color_lens</mat-icon>
    </button>
    <button mat-icon-button>
        <!-- <img src="../../../assets/lightbulb_black_24dp" alt=""> -->
        <mat-icon>image</mat-icon>
    </button>
    <button mat-icon-button>
        <!-- <img src="../../../assets/lightbulb_black_24dp" alt=""> -->
        <mat-icon>archive_outlined</mat-icon>
    </button>
    <button mat-icon-button>
        <!-- <img src="../../../assets/lightbulb_black_24dp" alt=""> -->
        <mat-icon>more_vert</mat-icon>
    </button>
</div>

