.border {
    border: 5px solid transparent;
    height: 5px;
    width: 20%;
    top: 20px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    background-color: transparent
  }
  button{
      // margin: 5px;
     border:none;
     background:none;
     opacity:0.6;
      
  }
  .matMenu{
    height: 10px;
    margin-top: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.icon:hover{
    visibility: visible;
    opacity: 0.5;
    color: black;
}
.card{
  background-color: #fff;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.color{
  display: grid;
  margin-right: 10px;
  cursor: pointer;
}
// .matMenu1{
//   height: 20px;
//   margin-bottom: 90px;
//   width: 80%;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
// @media screen  and (max-width:700px){
//   .mat-card-content{
//     background: red; 
//   }
// }
.trashIcons{
  border: 5px solid transparent;
    height: 20px;
    width: 50%;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 20%;
    justify-content: space-between;
}
.ArchiveNotesIcon{
  border: 5px solid transparent;
    height: 20px;
    width: 50%;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: -5%;
}


