<div class="border" class="icon" fxLayout="row" fxLayout.xs="row" fxFlex="50" fxFlex.xs="95">
    <button mat-icon-button >
        <mat-icon>notifications_paused</mat-icon>
        <!-- <img src="../../../assets/lightbulb_black_24dp" alt=""> -->
    </button>
    <button mat-icon-button>
        <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>color_lens</mat-icon>
    </button>
    <button mat-icon-button>
       
        <mat-icon>image</mat-icon>
    </button>
    <button mat-icon-button (click)="archiveNote()">
        <mat-icon>archive_outlined</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon matTooltip="More" style="padding-left: -25px;">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="matMenu" (click)="deleteNote()">
            <span >Delete note</span>
        </button>
    </mat-menu>
</div>

