<div class="dashboard-container" [class.dashboard-container]="mobileQuery.matches">
    <mat-toolbar fxLayout="row" class="example-toolbar" fxLayout.xs="row">
        <button mat-icon-button class="checkmenu">
            <mat-icon (click)="onToolbarMenuToggle()" style="color: grey;">menu</mat-icon>
        </button>
        <div class="header-container">
            <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" width="45">
        </div>
        <span class="fundoo">Fundoo</span>
        <div class="Search">
            <mat-form-field appearance="outline" [style.width.px]="600">
                <!-- <img src="../../../assets/search_black_24dp.svg" alt=""> -->
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search">
            </mat-form-field>
        </div>
        <div class="refresh" id="refresh" fxLayout="row">
            <button mat-icon-button matTooltip="refresh" (click)="refreshButton()"class="checkmenu">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button matTooltip="settings"class="checkmenu">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button matTooltip="grid"class="checkmenu">
                <mat-icon>line_weight</mat-icon>
            </button>
            <button mat-icon-button matTooltip="grid"class="checkmenu1">
                <mat-icon>apps</mat-icon>
            </button>
            <button mat-icon-button  (click)="Logout()" matTooltip="grid"class="checkmenu"> 
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav mode="side" id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">
            <div class="menu-container">
                <mat-nav-list>
                    <div>
                        <button mat-button id="sidenav-button" (click)="Notes()">
                            <mat-icon id="sidenav-icon">lightbulb_outline</mat-icon>
                            Notes
                        </button>
                    </div>
                    <div>
                        <button mat-button id="sidenav-button">
                            <mat-icon id="sidenav-icon">notifications_none</mat-icon>
                            Reminder
                        </button>
                    </div>
                    <div>
                        <button mat-button id="sidenav-button" >
                            <mat-icon id="sidenav-icon">edit</mat-icon>
                            Edit Lable
                        </button>
                    </div>
                    <div>
                        <button mat-button id="sidenav-button"(click)="Archive()">
                            <mat-icon id="sidenav-icon">archive</mat-icon>
                            Archive
                        </button>
                    </div>
                    <div>
                        <button mat-button id="sidenav-button" (click)="Trash()">
                            <mat-icon id="sidenav-icon">delete_outline</mat-icon>
                            Trash
                        </button>
                    </div>
                </mat-nav-list>
            </div>
        </mat-sidenav>
        
    <mat-sidenav-content>
        <router-outlet>

        </router-outlet>
    </mat-sidenav-content>   
    </mat-sidenav-container>
</div>