<div class="icon" fxLayout="row" fxLayoutAlign="start none" >
    
    <!-- <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
       -->
    <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" width:1000px>
    <h1>
        <span class="c1">F</span>
        <span class="c2">u</span>
        <span class="c3">n</span>
        <span class="c4">d</span>
        <span class="c5">o</span>
        <span class="c6">o</span>
      </h1>
</div>
