<div class="section" fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutAlign="start center">
  <div fxFlex.sm="100%" *ngFor="let notes of notesArraylist;" >
    <mat-card class="example-card" [style.background]="notes.color">
      <button class="pinbutton" >
        <img class="pin" style="padding-left: 160px;" src="../../../assets/push_pin_black_24dp.svg" alt="">
      </button>
      <mat-card-title  (click)="openDialog(notes)">
        {{notes.title }}
      </mat-card-title>
      <mat-card-subtitle  (click)="openDialog(notes)">
        {{ notes.message }}
      </mat-card-subtitle>
      <mat-card-actions>
        <div>
          <app-icon [CardObject]="notes"(changeColorOfNote)="messageRecievedFromNote($event)"></app-icon>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<!--
   NOTE:=> used interpolation data binding c-v for displaying data to UI which comes from backend  {{notes.title }}
-->
<!--
   NOTE:=> used ngFor directives to show the arraylist
-->


















<!-- <div class="displayNotes">
    <div *ngFor="let notes of notesArraylist;" class="getAllNotes">
        <mat-card-title-group (click)="openDialog(notes)">
        <button class="pinbutton" >
            <img class="pin" src="../../../assets/push_pin_black_24dp.svg" alt="">
          </button>
          <h2 class="heading">{{notes.title}}</h2>
          <p>{{notes.message}}</p>
        </mat-card-title-group>
        <mat-card-content >
          <app-icon class="getAllNotes"  [CardObject]= "notes" ></app-icon>
          <!-- <app-icon class="getAllNotes"  [CardObject]= "notes" (changeColorOfNote)="messageRecievedFromNote($event)"></app-icon> -->
<!-- </mat-card-content > -->
<!-- </div> -->
<!-- </div> -->