<!-- <p>display-notes works!</p> -->
<!-- <div fxLayout="row" fxLayoutAlign="center none">
    <div>
        <mat-card class="list-view-mat-card">
            <input type="text" placeholder="Title" name="title" formControlName="Title">
            <p>
                <textarea name="content" placeholder="Take a note"></textarea>
            </p>
            <div class="border">
                <button mat-icon-button>
                    <mat-icon>notifications_paused</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>person_add</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>color_lens</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>crop_original</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>archive</mat-icon>
                </button>
                <button mat-button class="close">
                    Close
                </button>
            </div>
        </mat-card>

    </div>

</div> -->