<div class = "cs-container">
    <h1>
        <span class="multicolortext">Fundoo</span>
      </h1>
      <h2>Create Your Fundoo Account</h2>
    <div class ="tp-container">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name">                   
        </mat-form-field>       
    </div>

    <div class ="ml-container">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">                   
        </mat-form-field>
    </div>

    <div class ="tp-container">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirm</mat-label>
            <input matInput placeholder="Confirm">                   
        </mat-form-field>       
    </div>

    <div class = "button">
        <button mat-raised-button color="accent">Sign in instead</button>
        <button mat-raised-button color="accent">Next</button>
    </div>          
</div>

